/ h3 Home
/ - @users.each do |user|
/   p
/     | User: #{link_to user.name, user}

/ FOR LEFT MENU BAR
/ Left menu bar view
.left-menu-container

/ Global main body container
.global-main-container

